services:
  - type: web
    name: ppt-builder
    env: node
    plan: free
    buildCommand: npm install && npx prisma db push && npm run build
    startCommand: npm start
    autoDeploy: true
    disk:
      name: data
      mountPath: /var/data
      sizeGB: 1
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        value: file:/var/data/db.sqlite
